<div class="box box-primary">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-3"><h3 class="box-title">Fauna</h3></div>
      <div class="col-md-9" ng-show="categorias.fauna.length">
        <form name="form" novalidate>
          <div class="form-search input-group input-group-sm" 
               ng-class="{ 'has-error' : form.busqueda.$invalid && !form.busqueda.$pristine }">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input type="text" name="busqueda" class="form-control input-lg" placeholder="Empieza a buscar fauna..." ng-model="search" ng-pattern="/^[a-zá-úA-ZÁ-Ú\s]*$/" required>
          </div>
          <span ng-show="formConsulta.busquedaQuery.$error.pattern" >Sólo caracteres alfabéticos</span>
        </form>       
      </div>
    </div>
  </div>
  <div class="box box-solid" ng-hide="categorias.fauna.length">
    <div class="box-body">
      Cargando...
    </div>
    <div class="overlay">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
  <div class="box-body">
    <ul class="products-list product-list-in-box" dir-paginate="cards in categoriasFiltered = (categorias.fauna | filter:search) | itemsPerPage:3">
      <li class="item" ng-repeat="fauna in cards" 
      ng-if="fauna.obj.value.search('imgur') != -1"
      ng-click = "open(fauna.obj.value, 'Fauna', 'RutaVueltaAOriente')">
        <div class="product-img" ng-repeat="fauna in cards"
                                   ng-if="fauna.pred.value.search('depiction') != -1">
          <img src={{fauna.obj.value}} alt="Product Image">
        </div>
        <div class="product-info" ng-repeat="fauna in cards"
                                  ng-if="fauna.pred.value.search('commonName') != -1">
          <a href="" class="product-title">{{fauna.obj.value}}</a>
              <span class="product-description" ng-repeat="fauna in cards"
                                  ng-if="fauna.pred.value.search('scientificName') != -1">
                {{fauna.obj.value}}
              </span>
        </div>
      </li>
    </ul>
  </div>
  <!-- /.box-body -->
  <div class="box-footer text-center" ng-if="categorias.fauna.length > 0">
    <p ng-if="categoriasFiltered.length > 1" class="text-muted">Se encontraron {{categoriasFiltered.length}} resultados</p>
    <p ng-if="categoriasFiltered.length == 1" class="text-muted">Se encontró {{categoriasFiltered.length}} resultado</p>
    <dir-pagination-controls
               max-size="3"
               direction-links="true">
    </dir-pagination-controls>
  </div>
</div>
<!-- /.box -->
