<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Restaurantes</h3>
  </div>
  <div class="box box-solid" ng-hide="categorias.restaurantes.length">
    <div class="box-body">
      Cargando...
    </div>
    <div class="overlay">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
  <div class="box-body">
    <ul class="products-list product-list-in-box" dir-paginate="cards in categorias.restaurantes | filter:search | itemsPerPage:3">
      <li class="item" ng-repeat="restaurantes in cards" ng-if="restaurantes.obj.value.search('imgur') != -1"
      ng-click="open(restaurantes.obj.value, 'Restaurantes', 'RutaVueltaAOriente')">
        <div class="product-img" ng-repeat="restaurantes in cards"
                                   ng-if="restaurantes.pred.value.search('depiction') != -1">
          <img src={{restaurantes.obj.value}} alt="Product Image">
        </div>
        <div class="product-info" ng-repeat="restaurantes in cards"
                                  ng-if="restaurantes.pred.value.search('name') != -1">
          <a href="" class="product-title">{{restaurantes.obj.value}}</a>
              <span class="product-description" ng-repeat="restaurantes in cards"
                                  ng-if="restaurantes.pred.value.search('tel') != -1 && restaurantes.obj.value.search('No disponible') == -1">
                {{restaurantes.obj.value}}
              </span>
        </div>
      </li>
    </ul>
  </div>
  <!-- /.box-body -->
  <div class="box-footer text-center" ng-if="categorias.restaurantes.length > 0">
    <dir-pagination-controls
               max-size="3"
               direction-links="true">
    </dir-pagination-controls>
  </div>
</div>
<!-- /.box -->
