<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Fauna</h3>
  </div>
  <div class="box box-solid" ng-hide="categorias.fauna.length">
    <div class="box-body">
      Cargando...
    </div>
    <div class="overlay">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
  <div class="box-body">
    <ul class="products-list product-list-in-box" dir-paginate="cards in categorias.fauna | filter:search | itemsPerPage:3">
      <li class="item" ng-repeat="fauna in cards" 
      ng-if="fauna.obj.value.search('imgur') != -1"
      ng-click = "open(fauna.obj.value, 'Fauna', 'RutaDelJardinBotanico')">
        <div class="product-img" ng-repeat="fauna in cards"
                                   ng-if="fauna.pred.value.search('depiction') != -1">
          <img src={{fauna.obj.value}} alt="Product Image">
        </div>
        <div class="product-info" ng-repeat="fauna in cards"
                                  ng-if="fauna.pred.value.search('commonName') != -1">
          <a href="" class="product-title">{{fauna.obj.value}}</a>
              <span class="product-description" ng-repeat="fauna in cards"
                                  ng-if="fauna.pred.value.search('scientificName') != -1">
                {{fauna.obj.value}}
              </span>
        </div>
      </li>
    </ul>
  </div>
  <!-- /.box-body -->
  <div class="box-footer text-center" ng-if="categorias.fauna.length > 0">
    <!-- <a href="javascript:void(0)" class="uppercase">Ver todos</a> -->
    <dir-pagination-controls
               max-size="3"
               direction-links="true">
    </dir-pagination-controls>
  </div>
</div>
<!-- /.box -->
