<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Empresas</h3>
  </div>
  <!-- /.box-header -->
   <!-- {{empresas}} -->
  <div class="box-body">
    <ul class="products-list product-list-in-box" dir-paginate="cards in categorias.empresas | filter:search | itemsPerPage:3">
      <li class="item" ng-repeat="empresas in cards" ng-if="empresas.obj.value.search('imgur') != -1" ng-click = "open(empresas.obj.value, 'Empresas', 'RutaDelMaiz')" >
        <div class="product-img" ng-repeat="empresas in cards"
                                   ng-if="empresas.pred.value.search('depiction') != -1">
          <img src={{empresas.obj.value}} alt="Product Image">
        </div>
        <div class="product-info" ng-repeat="empresas in cards"
                                  ng-if="empresas.pred.value.search('name') != -1">
          <a href=""  class="product-title">{{empresas.obj.value}}</a>
              <span class="product-description" ng-repeat="empresas in cards"
                                  ng-if="empresas.pred.value.search('homepage') != -1">
                {{empresas.obj.value}}
              </span>
        </div>
      </li>
    </ul>
  </div>
  <!-- /.box-body -->
  <div class="box-footer text-center">
    <dir-pagination-controls
               max-size="3"
               direction-links="true">
    </dir-pagination-controls>
  </div>
</div>
<!-- /.box -->
