<uib-tabset>
  <uib-tab data-toggle="tooltip" data-placement="top" title="General">
    <uib-tab-heading><i class="fa fa-book"></i></uib-tab-heading>
    <ng-include src="rutaCategorias.ruta"></ng-include>
  </uib-tab>
  <uib-tab data-toggle="tooltip" data-placement="top" title="Lugares" ng-click="tabElegida('Lugares', ruta.current.loadedTemplateUrl)">
  	<uib-tab-heading><i class="fa fa-bicycle"></i></uib-tab-heading>
  	<ng-include src="rutaCategorias.lugares"></ng-include>
  </uib-tab>
  <uib-tab data-toggle="tooltip" data-placement="top" title="Fauna" ng-click="tabElegida('Fauna', ruta.current.loadedTemplateUrl)">
    <uib-tab-heading><i class="fa fa-paw"></i></uib-tab-heading>
    <ng-include src="rutaCategorias.fauna"></ng-include>
  </uib-tab>
  <uib-tab data-toggle="tooltip" data-placement="top" title="Alojamientos" ng-click="tabElegida('Alojamientos', ruta.current.loadedTemplateUrl)">
    <uib-tab-heading><i class="fa fa-bed"></i></uib-tab-heading> 
    <ng-include src="rutaCategorias.alojamientos"></ng-include>
  </uib-tab>
  <uib-tab data-toggle="tooltip" data-placement="top" title="Restaurantes" ng-click="tabElegida('Restaurantes', ruta.current.loadedTemplateUrl)">
    <uib-tab-heading><i class="fa fa-cutlery"></i></uib-tab-heading> 
    <ng-include src="rutaCategorias.restaurantes"></ng-include>
  </uib-tab>
  <uib-tab data-toggle="tooltip" data-placement="top" title="Empresas" ng-click="tabElegida('Empresas', ruta.current.loadedTemplateUrl)">
    <uib-tab-heading><i class="fa fa-building"></i></uib-tab-heading> 
    <ng-include src="rutaCategorias.empresas"></ng-include>
  </uib-tab>
  <uib-tab data-toggle="tooltip" data-placement="top" title="Eventos" ng-click="tabElegida('Eventos', ruta.current.loadedTemplateUrl)">
    <uib-tab-heading><i class="fa fa-calendar"></i></uib-tab-heading> 
    <ng-include src="rutaCategorias.eventos"></ng-include>
  </uib-tab>
  <uib-tab data-toggle="tooltip" data-placement="top" title="Flora" ng-click="tabElegida('Flora', ruta.current.loadedTemplateUrl)">
    <uib-tab-heading><i class="fa fa-tree"></i></uib-tab-heading>
    <ng-include src="rutaCategorias.flora"></ng-include>
  </uib-tab>
</uib-tabset>

  <!-- /.tab-content -->