<div class="wrapper">
	<ng-include src="'pages/header.html'"></ng-include>  
  	<!-- Left side column. contains the logo and sidebar -->
  	<ng-include src="'pages/aside.html'"></ng-include>
  	<!-- Content Wrapper. Contains page content -->
  	<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Sparql Endpoint<!--parque de la guadua hasta campoalegre-->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i>Inicio</a></li>
        <li class="active">Sparql Endpoint</li>
      </ol>
    </section>

    <!-- ================ (CONTENIDO DE LA PAGINA) ============================-->
    <section class="content">
      <p class="text-justify">Cumpliendo con los estándares de la W3C para la publicación de <em>datasets</em> en la Web de Datos se dispone de un SPARQL Enpoint, una herramienta que permite realizar consultas SPARQL sobre un grafo de entrada compuesto por tripletas RDF. En este caso, el grafo de entrada es el <em>dataset</em> ecoturístico usado en toda la aplicación. A continuación se muestran algunas consultas que pueden realizarse en el SPARQL Endpoint</p>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-default box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Consulta 1</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" hljs hljs-no-escape>
# Selecciona una direccion de las empresas
# de la Ruta del Maíz.

PREFIX UMBEL: &lt;http://umbel.org/umbel#&gt;
PREFIX VCARD: &lt;http://www.w3.org/2006/vcard/ns#&gt;
PREFIX MZ: &lt;http://190.14.254.237/dataseteco/RutaDelMaiz/&gt;       
SELECT ?direccion 
WHERE {
  ?sub  UMBEL:isRelatedTo MZ:Empresas. 
  ?sub VCARD:adr ?cualquiera .
  ?cualquiera VCARD:street-address ?direccion .
}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
            </div>
            <div class="col-md-12">
              <div class="box box-default collapsed-box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Consulta 2</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" hljs hljs-no-escape>
#Selecciona el numero de camas y habitaciones de un hotel en particular            
PREFIX UMBEL: &lt;http://umbel.org/umbel#&gt;
PREFIX FOAF: &lt;http://xmlns.com/foaf/0.1/&gt;
PREFIX VCARD: &lt;http://www.w3.org/2006/vcard/ns#&gt; 
PREFIX ACCO: &lt;http://purl.org/acco/ns#&gt;
PREFIX GR: &lt;http://purl.org/goodrelations/v1#&gt;  
PREFIX MZ:  &lt;http://190.14.254.237/dataseteco/RutaDelMaiz/&gt;         
SELECT ?numHabitaciones ?numCamas
  WHERE {
    ?sub  UMBEL:isRelatedTo MZ:Alojamientos. 
    ?sub FOAF:depiction &lt;http://i.imgur.com/PZaVeSm.jpg&gt; .
    ?sub VCARD:adr ?obj1 .

    ?obj2 ACCO:partOf ?sub .
    ?obj2 ACCO:numberOfRooms ?uriValue .
    ?uriValue GR:hasValue ?numHabitaciones .
    
    ?obj2 ACCO:bed ?uriBed .
    ?uriBed ACCO:quantity ?numCamas .
  }
            </div>
            <!-- /.box-body -->
          </div><!-- /.box -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Escribe tu consulta SPARQL</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" method="GET" name="formEndpoint">
                <!-- textarea -->
                <div class="form-group">
                  <label>Consulta</label>
                  <textarea class="form-control" rows="6" placeholder="SELECT ..." ng-model="queryText" required></textarea><br>
                  <span class="input-group-btn center-block">
                    <button type="submit" class="btn btn-success btn-flat btn-lg" ng-disabled="formEndpoint.$invalid" ng-click="consultarEndpoint(queryText)">
                      Enviar <i class="fa fa-send"></i>
                    </button>
                  </span>
                </div>
              </form>
              <!-- <div class="box" ng-show="resultado.data.length">
                <div class="box-header">
                  <h3 class="box-title">Resultados</h3>
                </div>
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Rendering engine</th>
                      <th>Browser</th>
                      <th>Platform(s)</th>
                      <th>Engine version</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in resultado.data">
                      <td>{{x.direccion.value}}</td>
                      <td>{{x.direccion.value}}</td>
                      <td>{{x.direccion.value}}</td>
                      <td>{{x.direccion.value}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div> -->
              <div class="box box-success" ng-repeat="array in resultado">
                <div class="box-header with-border">
                  <h3 class="box-title">Resultados</h3>
                </div>
                <div ng-repeat="datos in array">
                  {{datos}}  
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      
      </div><!-- .row -style="bottom: 450px; left:590px;-->
      <!-- <div class="row"> -->
    </section>
    <!-- ======================= (FIN CONTENIDO DE LA PAGINA)=========================-->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <ng-include src="'pages/footer.html'"></ng-include>
</div><!-- ./wrapper -->