<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">eventos</h3>
  </div>
  <div class="box box-solid" ng-hide="categorias.eventos.length">
    <div class="box-body">
      Cargando...
    </div>
    <div class="overlay">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
  <div class="box-body">
    <ul class="products-list product-list-in-box" dir-paginate="cards in categorias.eventos | filter:search | itemsPerPage:3">
      <li class="item" ng-repeat="eventos in cards" ng-if="eventos.obj.value.search('imgur') != -1"
      ng-click = "open(eventos.obj.value, 'Eventos', 'Riofrio')" >
        <div class="product-img" ng-repeat="eventos in cards"
                                   ng-if="eventos.obj.value.search('imgur') != -1">
          <img src={{eventos.obj.value}} alt="Product Image">
        </div>
        <div class="product-info" ng-repeat="eventos in cards"
                                  ng-if="eventos.pred.value.search('label') != -1">
          <a href=""  class="product-title">{{eventos.obj.value}}</a>
              <span class="product-description" ng-repeat="eventos in cards"
                                  ng-if="eventos.pred.value.search('label') != -1">
                {{eventos.obj.value}}
              </span>
        </div>
      </li>
    </ul>
  </div>
  <!-- /.box-body -->
  <div class="box-footer text-center">
    <dir-pagination-controls
               max-size="3"
               direction-links="true">
    </dir-pagination-controls>
  </div>
</div>
<!-- /.box -->
